.footer{
	height: 100px;
    padding-top: 0;
    bottom: 0;
	padding: 1rem;
    gap: 1rem;
	color: white;
	font-weight: 500;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}



.footer a{
    color: white;
}