.footer {
    position: relative;
    height: 100px;
    padding-top: 0;
    bottom: 0;
    padding: 1rem;
    padding-right: 10vw;
    gap: 1rem;
    color: white;
    font-weight: 500;
    background-color: var(--blue-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: flex-end;
}



.footer a {
    color: white;
}