.header{
	display: flex;
	height: 100px;
	padding: 2rem;
	gap: 2rem;
	align-items: center;
	color: white;
	background-color: var(--blue-clr);
	font-weight: 300;
	box-sizing: border-box;
}

.navlink{
	display: flex;
	gap: 2rem;
}

.logo {
	max-height: 90px;
}

.header a{
	color: var(--lightblue-clr);
	text-decoration: none;
	font-size: large;
}

a:hover{

}

a.active {
	text-decoration: underline;
}