@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
	--darkblue-clr: #0C131F;
	--blue-clr: #284069;
	--lightblue-clr: #8BA5D2;

	font-family: 'Fredoka One' ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

	width: 100%;
	height: 100%;
  font-size: 14px;

}

body {
  background-color: var(--darkblue-clr);
  margin: 0;
  display: block;
}

h1 {
  color: var(--lightblue-clr);
}

.body-content {
  
  display: flex;
  padding: 1rem;
  flex: 1;
}